.burgerMenu {
    display: none;
    z-index: 999;
    margin: 1em;
}

.burgerBar {
    display: block;
    height: 0.25em;
    width: 1.8em;
    border-radius: 0.5em;
    background-color: white;
    margin: 0.25em 0;
    z-index: 999;
}

.menu#down {
    border-radius: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #FDBA17;
    top: 6em;
    padding-bottom: 1.5em;
    gap: 1em;
    width: 100vw;
    padding: 1em 0;
    transform-origin: top;
    transform: scaleY(1);
    box-shadow: 0px 4px 4px 0px #00000025 inset;
}


.menu#down a{
    color: white;
}

.menu#down a:hover {
    color: #F47A62;
}


.slidingDownContainer {
    cursor: pointer;
    font-weight: 700;
    width: 100vw;

}

.slidingDownContainer.clicked {
    background-color: #F47A62; /* make into animation -- refine animations in general */
    padding: 2em;
}

.slidingDownContainer.clicked .subMenu {
    visibility: visible; /* temporary fix*/
}

.slidingDownContainer h3{
    margin-block: 0.3em;
}

.menu #account{
    margin-block: 0.3em;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.17em;
}

.linkDown {
    text-decoration: none;
    font-weight: 300;
    margin-top: 1em;
}
 

.subMenu{
    display: flex;
    flex-direction: column;
    transform-origin: top;
    max-height: 0;
    transition: max-height 0.6s ease-in-out;
    visibility: hidden;
}


.subMenu.hidden#down{
    max-height: 0px;
} 

.subMenu.show#down{
    display: flex;
    flex-direction: column;
    max-height: 300px;
}


.burgerBar.clicked:nth-child(1){
    animation: firstBarTurn 0.5s ease-in-out forwards;
}
.burgerBar.clicked:nth-child(2){
    animation: secondBarTurn 0.5s ease-in-out forwards;
}
.burgerBar.clicked:nth-child(3){
    animation: thirdBarTurn 0.5s ease-in-out forwards;
}

.burgerBar.unclicked:nth-child(1){
    animation: firstBarTurnBack 0.5s ease-in-out forwards;
}
.burgerBar.unclicked:nth-child(2){
    animation: secondBarTurnBack 0.5s ease-in-out forwards;
}
.burgerBar.unclicked:nth-child(3){
    animation: thirdBarTurnBack 0.5s ease-in-out forwards;
}

.show#down {
    animation: slideDown 0.6s ease-in-out;
}

.hidden#down {
    animation: slideUp 0.6s ease-in-out;
}



/*------ MENU BARS ------*/

@keyframes firstBarTurn {
    from{
        transform: none;
    }
    to {
        transform: rotate(45deg) translate(0.5em, 0.5em);
    }
}

@keyframes secondBarTurn {
    from{
        transform: none;
    }
    to {
        transform: scale(0.1);
    }
}

@keyframes thirdBarTurn {
    from{
        transform: none;
    }
    to {
        transform: rotate(135deg) translate(-0.2em, 0.25em);
    }
}

@keyframes firstBarTurnBack {
    from{
        transform: rotate(45deg) translate(0.2em, 0.2em);
    }
    to {
        transform: none
    }
}

@keyframes secondBarTurnBack {
    from {
        transform: scale(0.1);
    }
    to {
        transform: none;
    }
}

@keyframes thirdBarTurnBack {
    from{
        transform: rotate(135deg) translate(-0.5em, 0.5em);
    }
    to {
        transform: none;
    }
}

/*------ MENU SLIDE DOWN ------*/

@keyframes slideDown {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes slideUp {
    0% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}

@keyframes slideDownServices {
    0% {
        transform: scaleY(0);
        height: 0;
    }

    100% {
        transform: scaleY(1);
        height: 80px;
    }
}

@keyframes slideUpServices {
    0% {
        transform: scaleY(1);
        height: 80px;
    }

    100% {
        transform: scaleY(0);
        height: 0;
    }
}


@media only screen and (max-width: 700px) {

    .burgerMenu {
        display: inline;
    }

}

@media only screen and (max-width: 400px) {

    .burgerMenu {
        display: inline;
        margin-right: 2em;
    }



}
