/* * {
  box-sizing: border-box;
} */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}


h1 {
  font-family: "Trirong", Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
}

#title{
  font-style: italic;
}

.inner-wrapper {
  max-width: 1200px; /* Same max width as the wrapper */
  margin: 20px auto 60px auto;
  padding: 0 20px;
}

/* HEADER, ICON AND BURGER MENU */

.top-bar {
  position: fixed;
  align-items: center;

  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  opacity: 0;
  /* transition: opacity 0.3s; */
  transition: background-color 0.3s;
}


#burger-menu {
  position: relative;
  /* top: 22%; */
  right: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  opacity: 0;
}

.burger-menu span {
  display: block;
  height: 4px;
  background: black;
  border-radius: 2px;
}

.top-bar #icon {
  position: relative;
  opacity: 0;
  left: 18%;
}

.top-bar #icon img {
  height: 50px;
}

.top-bar #SUP {
  position: relative;
  right: .7%;
}

/* MAIN IMAGE AND TEXT */

.main-container {
  margin-top: 0;
  display: flex;
  height: 50vh;
  flex-direction: row;
}

.main-image-section, .main-text-section {
  width: 50%;
  height: 100%;
}


.main-image-section #main_image {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-text-section #main_text {
  display: flex;
  font-size: 1.4rem;
  line-height: 2.25rem;
  width: 90%;
  text-align: justify;
  text-overflow: hidden;
  opacity: 1;
  text-wrap: wrap;
}

.main-text-section #title{
  font-size: 2rem;
}

@keyframes shrinkDiv {
  from {height: 50vh;}
  to {height: 20vh;}
}

@keyframes enlargeDiv {
  from {height: 20vh;}
  to {height: 50vh;}
}

@keyframes shrinkImage {
  from { width: 100%; height: 100%; }
  to { top: 45px; width: 100px; height: 100px; }
}
@keyframes enlargeImage {
  from { width: 100px; height: 100px;}
  to { width: 100%; height: 100%;}
}

@keyframes showHeader {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes hideHeader {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes shrinkText {
  from { width: 90%; opacity: 1; }
  to { opacity: 0; transform: translateY(-250px) translateX(200px); }
}

@keyframes enlargeText {
  from {opacity: 0; transform: translateY(-250px) translateX(200px);}
  to { width: 90%; opacity: 1; transform: translateY(0); }
}


/* MAP INTRO CONTAINER */

.map-intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mapIntroContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#introTextSection {
  width: 40%;
  text-align: justify;
    font-size: x-large;
    line-height: 2.5rem;
}

/* ZOOMED IN IMAGE */
.zoomed-in-image {
  overflow: hidden;
  padding-bottom: 55%;
  margin: 50px auto;
}

.zoomed-in-image img{
  width: 100%;
  max-width: none;
  position: fixed;
  top:20%;
  left: 50%;
  transform: translateX(-50%);
}


/* EMPLOYEE PRESENTATION */

.box-container {
  overflow: hidden;
  color: white;
  position: relative;
  display: flex;
  background-color: rgb(95, 23, 35);
  border-width: 3px 0px 3px 0px;
  border-color: black;
  border-style: solid;
  flex-direction: column;
}

.box-container #title {
  text-align: center;
}

.employee-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  gap: 25px;
  padding: 10px;
  justify-content: space-evenly;
  justify-items: center;
}

.box-container .box {
  /* background: rgb(122, 31, 46); */
  position: relative;
  border: 1px solid transparent;
  padding: 15px;
  width: 320px;
  height: 320px;
  margin: 15px;
  transition: all 0.5s ease;
}

/* .box-container .box:hover .image-box{
  transform: translate(-10px);
} */

.box-container .box:hover .text-box {
  transform: translate(335px, 50px);
  opacity: 1;

  
}

.box-container .box:hover {
  transform: translate(40px);
  background: rgb(122, 31, 46);
  width: 610px;
  border: 1px solid black;

  .image-box h2 {
    opacity: 0;
  }
}

.image-box {
  position: absolute;
  width: 320px;
  height: 320px;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.image-box img {
  border-radius: 10px;
  width: 320px;
  height: 320px;
  object-fit: cover;
  resize: both;
}

.image-box h2 {
  margin: 0;
    position: absolute;
    bottom: 0px;
    background-color: rgb(56, 14, 21);
    width: 320px;
    height: 40px;
    opacity: 0.8;
    border-radius: 0 0 10px 10px;
    transition: opacity 0.4s ease;

}

.text-box{
  opacity: 0;
  position: absolute;
  width: 17rem;
  text-align: justify;
  transition: all 0.5s ease;
}


.full-width-bg {
  width: 100%;
  padding: 20px 0;
}

@media only screen and (max-width: 2200px) {
  .employee-grid {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 25px;
    padding: 10px;
    justify-content: space-evenly;
    justify-items: center;
  }
}

/* PHOTO TEXT CONTAINER */

.photo-text-container {
  margin-top: 75px;
  display: grid;
  grid-template: 400px 400px / 600px 600px;
  /* gap: 20px; */
  background-color: rgb(95, 23, 35);
  border-radius: 10px;
  padding: 0;
}


.photo-text-container #photo1{
  border-radius: 10px 0 0 0;
}

.photo-text-container #photo2{
  border-radius: 0 0 10px 0;
}

.photo-text-container  p {
  text-align: justify;
  font-size: x-large;
  line-height: 2.8rem;
  color: white;
  padding: 50px 50px 20px 50px;
}


/* PROPERTY CAROUSEL */

.carr-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin: 40px; */
}

.carr{
  color: white;
  background-color: rgb(95, 23, 35);
  /* width: 1260px; */
  height: 650px;
  margin: 20px 0 20px 0;
  text-align: center;
  border-radius: 20px;
  position: relative;
}

.slides {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  height: 95%;
  overflow-x: hidden;  

}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin-right: 0px;
  box-sizing: border-box;
  transform-origin: center center;
  transform: scale(1);
  scroll-snap-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

#description {
  display: flex;
  width: 60%;
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.slide a{
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border: solid black;
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
}

.slide-prev {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 2%;
}

.slide-next{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 2%;
}

.slides-nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.slides-navlink {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: black;
  margin: 0 10px 0 10px;
}

/* CONTACT FORM */

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(95, 23, 35);
  color: white;

    /* width: 100%;
    height: 350px;
    background: #111;
    position: fixed;
     left: 0; bottom: 0;
    z-index: -100;
   */
}



.contact-and-socials {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
}

.contact-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.contact-field {
  height: 2rem;
  border: 2px solid black;
}

#message {
  height: 6rem;
}

#socialDiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 3rem;
}



.svg-icon {
  color: #FF0000; /* Change to your desired color */
}

#facebook{
  color: #1778f2;
}

#X{
  color: #1da1f2;
}

#wordpress{
  color: #3499cd;
}

.vl {
  border-left: 8px solid white;
  border-radius: 5px;
  height: 19rem;
  margin: 0 9rem;
}

