.burgerMenu {
    display: none;
    z-index: 999;
    margin: 1em;
}

.burgerBar {
    display: block;
    height: 0.3em;
    width: 3em;
    border-radius: 0.5em;
    background-color: green;
    margin: 0.4em 0 0.4em 0;
    z-index: 999;
}

.menu#down {
    border-radius: 0px 0px 10px 10px;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #FDBA17;
    justify-content: flex-end;
    margin-top: 17em;
    gap: 1.5em;
    z-index: -1;
    width: 100%;
    padding: 2em 0;
    transform-origin: top;
    transform: scaleY(1);
}


.menu#down a{
    color: white;
}

.slidingDownServices {
    display: flex;
    flex-direction: column;
}

.servicesMenu{
    display: flex;
    flex-direction: column;
    transform-origin: top;
}



.slidingServices#down {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    animation: none;
    border-radius: 0px;
    transform-origin: top;
    transform: scaleY(1);

}

.servicesDown.hidden#down{
    /* display: none; */
    height: 0px;
    /* transition: height 0.5s ease-in-out; */
}

.servicesDown.show#down{
    display: flex;
    flex-direction: column;
    height: auto;
}

.servicesMenu.hidden#down {
    animation: slideUpServices 0.6s ease-in-out;
}

.servicesMenu.show#down {
    animation: slideDownServices 0.6s ease-in-out;
}

.linkDown {
    
}





.burgerBar.clicked:nth-child(1){
    animation: firstBarTurn 0.5s ease-in-out forwards;
}
.burgerBar.clicked:nth-child(2){
    animation: secondBarTurn 0.5s ease-in-out forwards;
}
.burgerBar.clicked:nth-child(3){
    animation: thirdBarTurn 0.5s ease-in-out forwards;
}

.burgerBar.unclicked:nth-child(1){
    animation: firstBarTurnBack 0.5s ease-in-out forwards;
}
.burgerBar.unclicked:nth-child(2){
    animation: secondBarTurnBack 0.5s ease-in-out forwards;
}
.burgerBar.unclicked:nth-child(3){
    animation: thirdBarTurnBack 0.5s ease-in-out forwards;
}

.show#down {
    animation: slideDown 0.6s ease-in-out;
}

.hidden#down {
    animation: slideUp 0.6s ease-in-out;
}



/*------ MENU BARS ------*/

@keyframes firstBarTurn {
    from{
        transform: none;
    }
    to {
        transform: rotate(45deg) translate(0.5em, 0.5em);
    }
}

@keyframes secondBarTurn {
    from{
        transform: none;
    }
    to {
        transform: scale(0.1);
    }
}

@keyframes thirdBarTurn {
    from{
        transform: none;
    }
    to {
        transform: rotate(135deg) translate(-0.5em, 0.5em);
    }
}

@keyframes firstBarTurnBack {
    from{
        transform: rotate(45deg) translate(0.5em, 0.5em);
    }
    to {
        transform: none
    }
}

@keyframes secondBarTurnBack {
    from {
        transform: scale(0.1);
    }
    to {
        transform: none;
    }
}

@keyframes thirdBarTurnBack {
    from{
        transform: rotate(135deg) translate(-0.5em, 0.5em);
    }
    to {
        transform: none;
    }
}

/*------ MENU SLIDE DOWN ------*/

@keyframes slideDown {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes slideUp {
    0% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}

@keyframes slideDownServices {
    0% {
        transform: scaleY(0);
        height: 0;
    }

    100% {
        transform: scaleY(1);
        height: 80px;
    }
}

@keyframes slideUpServices {
    0% {
        transform: scaleY(1);
        height: 80px;
    }

    100% {
        transform: scaleY(0);
        height: 0;
    }
}


@media only screen and (max-width: 700px) {

    .burgerMenu {
        display: inline;
    }

}

