.navLinks {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 3em;
    align-items: center;
    flex-direction: row;
    font-size: 1.2em;
    font-weight: 700;
    gap: 20px;
}

.navLinks a {
    color: black;
    font-weight: 700;
}

.navLinks a:hover {
    color: white;
}

.slidingServices, .slidingAbout{
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 1em 0 1em 0.5em; /* adjust this for border height */
    animation: colorChange2 0.5s ease-in-out forwards;

}

/* .slidingAbout:hover, .slidingServices:hover {
    animation: colorChange2 0.5s ease-in-out forwards;
} */

.slidingAbout.hovered, .slidingServices.hovered{
    animation: colorChange1 0.5s ease-in-out forwards;
}

.menu {
    display: flex;
    overflow: hidden;
    align-items: center;
    gap: 1.5em;
    width: 100%;
    opacity: 1;
    /* padding: 0.5em; */
    border-radius: 50px;
    width: 0px; 
    transition: width 0.6s ease-in-out; 

}

.menu#side {
    opacity: 1;
    padding: 0.5em;
    flex-direction: row;
    color: blue;
    justify-content: flex-end;
    font-size: 1em;
}

.link{
    color: black;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 10px;
    font-weight: 500 !important;
    }


/* --------- ANIMATIONS --------- */

.show#side{
    /* animation: slideLeft 0.5s ease-in-out forwards; */
    width: auto;
}

.hidden#side {
    /* animation: slideRight 0.5s ease-in-out forwards; */
    width: 0px
}


/*------ MENU SLIDE SIDE ------*/

@keyframes slideLeft {
    from {
        width: 0px;
        opacity: 0;
    }
    to {
        width: 300px;
        opacity: 1;

    }
}

@keyframes slideRight {
    from {
        width: 300px;
        opacity: 1;

    }
    to {
        width: 0px;
        opacity: 0;

    }
    
}
@keyframes colorChange1 {
    from {
        background-color: none;
    }
    to {
        background-color: #F47A62;

    }
}

@keyframes colorChange2 {
    from {
        background-color: #F47A62;

    }
    to {
        background-color: none;

    }
}
