.input{
    width: 90%;
    border-radius: 50px;
    border: 2px dashed white;
    padding: 0.4em 0.8em;
    font-size: 1.1em;
    font-weight: 600;
    font-family: inherit;
    background-color: inherit;
    cursor: text;
    transition: background-color 0.3s;
  }
  
  .input:hover {
    background-color: #F47A62;
  }

  .inputDiv {
    width: 331px;
  }