.HeroDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #5225EE;

}


.textDiv {
    text-align: center;
    max-width:1000px;
    z-index: 1;
}

.textDiv h2{
    margin-block-end: 0px;
    margin-block-start: 0px;
    font-weight: 600;   
}

.HeroSvgTextDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    margin-top: 4em;
}

/* SVGs */

#Herologo {
    width: 726px;
    margin-bottom: 2.5em;
    z-index: 1;
}

#OrangeBlob {
    width: 726px;
    position: absolute;
    right: 0px;
    top: 64px;
}

#Student {
    position: absolute;
    left: 220px;
    top: 650px;
    z-index: 2;
}

#Twirl {
    position: absolute;
    left: 0;
    top: 250px;
}

#MintBlob {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 480px;
}

#ArrowTwirl {
    position: absolute;
    right: 0;
    top: 600px;
}

#Desk {
    position: absolute;
    right: 150px;
    top: 500px;
}