:root {
  /* Colors */
  --red: #fa7a62;
  --red-secondary: #fabdb1;
  --yellow: #fdba17;
  --yellow-secondary: #fedd8b;
  --primary-text: #313131;
  --header-label: #616161;
  --secondary-text: #929292;
  --background-table: #f6f5f8;
  /* Base font size for scaling */
  --base-font-size: 16px;
}

.Formbody {
  background-color: var(--yellow);
}

.Formcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  text-align: left;
  position: relative;
}

.FormtextSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 40%;
  margin-left: 3%;
  background-color: var(--yellow);
}

.Formh1 {
  display: none;
  font-size: 2rem;
  margin-bottom: 30px;
}

.Formh2 {
  font-size: 30px;
  letter-spacing: 1px;
}

.Formp {
  line-height: 1.5;
  font-size: 20px;
  margin-bottom: 20px;
  width: 80%;
}

.Formfaqbtn {
  padding: 5px 20px;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bold;
  border: 2px dashed var(--background-table);
  border-radius: 32px;
  width: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.Formfaqbtn:hover {
  background-color: var(--red);
}

.Formsection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--yellow);

}

.Formform {
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  background-color: var(--background-table);
  padding: 20px;
  border-radius: 16px;
  border: 10px solid var(--red);
  min-width: 350px;
  max-width: 500px;
  box-sizing: border-box;
  aspect-ratio: 0.96;
  height: 500px;
}

.Formblock input,
.Forminput textarea {
  padding: 10px 20px;
  font-size: 12px;
  border: 2px solid var(--red);
  border-radius: 32px;
  background-color: var(--background-table);
  resize: none;
  color: black;
  box-sizing: border-box;
  font-family: 'Nunito';
  transition: all 0.3s ease;
}

.Formblock input:focus, .Forminput textarea:focus {
  border: 2px solid #5225EE;
  outline: 2px solid #5225EE;
  color: #5225EE;
  font-weight: bold;
  font-family: 'Nunito';
}

.Forminput textarea {
  height: 150px;
  width: 100%;
}

.Formblock {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  width: 100%;
  margin-bottom: 20px;
}

.Formblock input {
  width: 47%;
  height: 33px;
}


.FormbuttonContainer {
  margin-top: auto; 
  display: flex;
  justify-content: flex-end;
  width: 100%; 
}


.Formbutton {
  border: 2px dashed var(--red);
  padding: 1px 10px;
  height: 40px;
  border-radius: 35px;
  background-color: transparent;
  color: var(--red);
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

.Formbutton:hover {
  background-color: var(--red);
  color: var(--background-table);
  border: var(--background-table) 2px dashed;
}

/* Media Queries */
@media (min-width: 1440px) {
  .FormtextSection {
    max-width: 35%;
    margin-left: 2%;
  }

  .Formsection {
    max-width: 45%;
  }
}

@media (max-width: 1200px) {

  .Formcontainer {
    justify-content: space-between;
  }

  .FormtextSection {
    max-width: 45%;
    margin-left: 3%;
  }

  .Formsection {
    max-width: 50%;
    height: auto;
  }

  .Forminput textarea {
    height: 150px;
  }
}

@media (max-width: 950px) {
  .Formcontainer {
    justify-content: space-between;
  }

  .FormtextSection {
    width: 50%;
    margin-left: 0;
    text-align: left;
  }

  .Formsection {
    width: 45%;
  }

  .Formform {
    width: 100%;
    height: calc(90% / 0.96);
    padding: 20px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: calc(var(--base-font-size) * 0.9);
  }
  
  .Formcontainer {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: center;
  }
  
  .FormtextSection {
    text-align: center;
  }
  
  .FormtextSection p,
  .FormtextSection h2,
  .Formfaqbtn {
    display: none;
  }
  
  .Formh1 {
    display: inline-block;
  }
  
  .Formsection {
    width: 100%;
    justify-content: center;
    align-self: center;
    margin: 20px auto 0;
  }
  
  .Formform {
    width: 100%;
    min-width: 300px;
    height: auto;
    aspect-ratio: 0.96;
    padding: 20px;
    background-color: var(--yellow);
    border: none;
  }
  
  .Forminput textarea {
    height: 20vh;
    width: 100%;
    box-sizing: border-box;
  }
  
  .Formblock {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  
  .Formblock input {
    width: 70%;
    align-self: flex-start;
    text-align: left;
  }
  
  .Formbutton {
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
  }
}


@media (max-width: 425px) {
  .FormtextSection h1 {
    font-size: 20px;
    width: 100%;
  }

}
