.burgerMenu {
    visibility: hidden;
    position: fixed;
    right: 2em;
    z-index: 999;
    top: 0.8em;
}

.burgerBar {
    display: block;
    height: 0.3em;
    width: 3em;
    border-radius: 0.5em;
    background-color: green;
    margin: 0.4em 0 0.4em 0;
    z-index: 999;
}

.menu#down {
    flex-direction: column;
    transform: translateY(-120%);
    height: 30vh; 
    background-color: blue;
    justify-content: center;
    margin-top: -1.5em;
    padding-top: 1em;
    gap: 1.5em;
}


.menu#down a{
    color: yellow;
}

.burgerBar.clicked:nth-child(1){
    animation: firstBarTurn 0.5s ease-in-out forwards;
}
.burgerBar.clicked:nth-child(2){
    animation: secondBarTurn 0.5s ease-in-out forwards;
}
.burgerBar.clicked:nth-child(3){
    animation: thirdBarTurn 0.5s ease-in-out forwards;
}

.burgerBar.unclicked:nth-child(1){
    animation: firstBarTurnBack 0.5s ease-in-out forwards;
}
.burgerBar.unclicked:nth-child(2){
    animation: secondBarTurnBack 0.5s ease-in-out forwards;
}
.burgerBar.unclicked:nth-child(3){
    animation: thirdBarTurnBack 0.5s ease-in-out forwards;
}

.show#down {
    animation: slideDown 0.5s ease-in-out forwards;
}

.hidden#down {
    animation: slideUp 0.5s ease-in-out forwards;
}



/*------ MENU BARS ------*/

@keyframes firstBarTurn {
    from{
        transform: none;
    }
    to {
        transform: rotate(45deg) translate(0.5em, 0.5em);
    }
}

@keyframes secondBarTurn {
    from{
        transform: none;
    }
    to {
        transform: scale(0.1);
    }
}

@keyframes thirdBarTurn {
    from{
        transform: none;
    }
    to {
        transform: rotate(135deg) translate(-0.5em, 0.5em);
    }
}

@keyframes firstBarTurnBack {
    from{
        transform: rotate(45deg) translate(0.5em, 0.5em);
    }
    to {
        transform: none
    }
}

@keyframes secondBarTurnBack {
    from {
        transform: scale(0.1);
    }
    to {
        transform: none;
    }
}

@keyframes thirdBarTurnBack {
    from{
        transform: rotate(135deg) translate(-0.5em, 0.5em);
    }
    to {
        transform: none;
    }
}

/*------ MENU SLIDE DOWN ------*/

@keyframes slideDown {
    from {
        transform: translateY(-120%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;

    }

    100% {
        transform: translateY(-120%);
        opacity: 0;
    }
}


@media only screen and (max-width: 900px) {

    .menu#side {
        position: fixed;
        top: 6em;
        left: -38em;
        flex-direction: column;
        transform: translateY(-150%);
        background-color: blue;
        justify-content: center;
        margin-top: -1.5em;
        padding: 1em;
        gap: 1.5em;
        width: 1900px;
        z-index: -1;
        opacity: 0;
    }

    .menu#side a{
        color: yellow;
    }

    .show#side {
        animation: slideDown 0.5s ease-in-out forwards;
    }
    
    .hidden#side {
        animation: slideUp 0.5s ease-in-out forwards;
    }

}

@media only screen and (min-width: 700px) {
    .menu#down {
        visibility: hidden;
    }
}
