.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6em;
    z-index: 999;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: 1em; */
    background-color: #FDBA17;    
}

#logoSvg{
    margin-left: 3em
}

.social-icons {
    display: flex;               
    gap: 20px;                  
    align-items: center;   
    margin-right: 3em;      
}

.social-icons a, .social-icons svg {
    width: 27px;   
    height: 27px;              
}

.social-icons a:hover path{
     stroke: white;
}

.social-icons a:hover #youtube{
    fill: white;
}


#logo {
    position: fixed;
    left: 5.5em;
    /* padding-top: 0.3em; */
}

