.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2em;
    background-color: white;

}


.header .title {
    position: fixed;
    left: 0;
    right: 0;
}

svg {
    overflow: visible;
    height: 25px;
    width: 35px;
    position: absolute;
    left: 3em;
    right: 0;
}


#logo {
    position: fixed;
    left: 4em;
}


@media (max-width: 600px) {
    #logo {
        display: none;
    }
}