#root {
  background-color: white;
}

.Autocarousel-container {
  text-align: center;
  margin: 20px auto;
  position: relative;
  min-height: 50vh;
  background-color: white;
  padding: 50px 20px;
}

.Autoh1, .Autoh2 {
  margin: 10px 0;
  color: #5225EE;
}

.infinite-scroll {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.scrolling-container {
  gap: 25px;
  padding: 30px;
  display: inline-flex;
  animation: scroll-left 120s linear infinite; /* Scrolls continuously */
}

.Autocarousel-photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0 0 auto;
  margin: 0px 5px;
}

.Autocarousel-photo {
  height: 15vh;
  width: auto;
  display: block;
  max-width: 190px;
}

.Autocarousel-subtitle {
  font-size: 0.8rem;
  margin-top: 5px;
  color: #5225EE;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.Autocarousel-btn {
  background-color: white;
  color: #FA7A62;
  border: dashed 2px #FA7A62;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 30%;
  border-radius: 32px;
  min-width: 212px;
  text-decoration: none;
}

.Autocarousel-btn:hover {
  background-color: #FA7A62;
  color: white;
  border: 2px dashed white;
}

/* Keyframes for the scrolling animation */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Remove specific styles for larger screens */
@media (max-width: 768px) {
  /* We remove display:none to make sure the mobile carousel is always visible */
  .infinite-scroll,
  .scrolling-container {
    display: flex;
  }

  .Autocarousel {
    display: none; /* Hide the old desktop carousel */
  }

  .Autocarousel-photo-container {
    width: auto;
    display: flex;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
  }

  .Autocarousel-photo {
    height: 8vh;
    max-height: 150px;
  }

  .Autocarousel-subtitle {
    font-size: 1rem;
    text-align: center;
  }
}
