#root {
  background-color: white;
}

.Autocarousel-container {
  text-align: center;
  margin: 20px auto;
  position: relative;
  min-height: 50vh;
  background-color: white;
  padding: 50px 20px;
}

.Autoh1, .Autoh2 {
  margin: 10px 0;
  color: #5225EE;
}

.Autocarousel {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px 0;
  overflow: hidden;
  width: 100%;
}

.Autocarousel-slide {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.Autocarousel-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 0 10px;
  width: auto;
}

.Autocarousel-photo {
  width: auto;
  height: 150px;
  display: block;
  transition: transform 0.5s ease;
}

.Autocarousel-subtitle {
  font-size: clamp(0.8rem, 1vw, 1rem);
  text-align: center;
  color: #5225EE;
  margin-top: 5px;
  max-width: none;
  word-wrap: break-word;
}

.Autocarousel-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.Autodot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Autodot.active {
  background-color: black;
}

.Autocarousel-btn {
  background-color: white;
  color: #FA7A62;
  border: dashed 2px #FA7A62;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 30%;
  border-radius: 32px;
  min-width: 212px;
  text-decoration: none;
}

.Autocarousel-btn:hover {
  background-color: #FA7A62;
  color: white;
  border: 2px dashed white;
}

@media (max-width: 768px) {

  .Autocarousel-btn {
    display: none;
  }

  .infinite-scroll {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }

  .scrolling-container {
    display: inline-flex;
    animation: scroll-left 30s linear infinite;
  }

  .Autocarousel-photo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90px;
    flex: 0 0 auto;
    margin: 0 5px;
  }

  .Autocarousel-photo {
    max-height: 8vh;
    width: auto;
    display: block;
  }

  .Autocarousel-subtitle {
    font-size: 0.8rem;
    text-wrap: wrap;
    margin-top: 5px;
    color: #5225EE;
    width: 100%;
    text-align: center;
  }

  .Autoh2 {
    margin-bottom: 50px;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .Autodot {
    display: none;
  }
}

@media (min-width: 768px) {
  .infinite-scroll,
  .scrolling-container {
    display: none;
  }

  .Autocarousel {
    display: block;
  }

  .Autocarousel-slide {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  .Autocarousel-photo-container {
    width: auto;
    display: flex;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
  }

  .Autocarousel-photo {
    max-height: 150px;
  }

  .Autocarousel-subtitle {
    font-size: 1rem;
    text-align: center;
  }

  .Autodot {
    display: inline-block;
  }
}
